<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Whats{Chat}</title>
  <link rel="stylesheet" href="/public/main.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1><img src="/public/orange.png" alt="">Whats{Chat}</h1>
  <hr>
  <strong><div id="userstatus"></div></strong>
  <hr>
  <div class="mario-chat">
      <div class="upload-btn-wrapper">
          <button class="btn">Set Chat Background</button>
          <input type='file' id='getval' name="background-image" onchange="readURL(event)"/>
      </div>
    <div class="chat-window" id="chat">
      <% messages.map(msg => { %>
      <div class="msg">
          <div class="output" id="output">
              
                <strong><%= msg.name %>: </strong><%= msg.message %>
                
            </div>
          <div class="time" id="time">
              <b><%= msg.createdAt %></b>
           
          </div>
          
      </div>
      <% }); %>

      <div id="feedback"></div>
      
    </div>
    <input type="text" id="name" placeholder="Enter Your Name">
    <input type="text" id="message" placeholder="Enter a Message">
    <button id="send">Send</button>
  </div>
  <script src="/public/main.js"></script>
</body>
</html>
